// CARD
.c-card {
  &__stay {
    max-width: 395px !important;
    width: 100%;
    box-shadow: unset !important;
    background: transparent;

    .title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #333333;
    }
  }

  &__img {
    min-height: 269px;
    border-radius: 24px;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";

    .super-host {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: #4f4f4f;
      border: 1px solid #4f4f4f;
      height: 28px;
    }

    .type {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #828282;
    }

    .rating {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #4f4f4f;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
